<div class="navbar-fixed">
  <nav class="holo-blue">
    <div class="nav-wrapper">
    <div class="container">
      <a href="/#intro" class="brand-logo">Alex Tomala</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light" href="/#about-me">About</a></li>
        <li><a class="waves-effect waves-light" href="/#computer-stuff">Computer Stuff</a></li>
        <li><a class="waves-effect waves-light" href="/#other-stuff">Other Stuff</a></li>
        <li><a class="waves-effect waves-light" href="/#contact-me">Contact Me</a></li>
        <li><a class="waves-effect waves-light" href="/blog/">Blog</a></li>
      </ul>
      <ul class="side-nav" id="nav-mobile">
        <li><a class="waves-effect waves-holo" href="/#about-me">About</a></li>
        <li><a class="waves-effect waves-holo" href="/#computer-stuff">Computer Stuff</a></li>
        <li><a class="waves-effect waves-holo" href="/#other-stuff">Other Stuff</a></li>
        <li><a class="waves-effect waves-holo" href="/#contact-me">Contact Me</a></li>
        <li><a class="waves-effect waves-holo" href="/blog/">Blog</a></li>
      </ul>
      </div>
    </div>
  </nav>
</div>
