@media screen and (max-width: 370px){
	.nav-wrapper .brand-logo {
		font-size: 1.5rem;
	} 
	.nav-wrapper .container {
		  width:98%;
	} 
}

#intro {
	height:100vh;
    width: 100%;
    display: flex;
  	justify-content: center;
  	align-items: center;
  	background-image: linear-gradient(120deg,#273379,#4054c4,#619cff);

}

#intro .text-container {
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  z-index: 2;
  -webkit-animation: bounceInLeft 1.0s;
  -moz-animation: bounceInLeft 1.0s;
  -ms-animation: bounceInLeft 1.0s;
  -o-animation: bounceInLeft 1.0s;
  animation: bounceInLeft 1.0s;
}

#intro .overlay {
	background: transparent url("../img/overlay.png");
	opacity: 0.5;
  	width: 100%;
  	height: 100vh;
  	position: absolute;
  	top: 0;
  	left: 0;
}


#about-me .img-profile {
	width:100%;
  max-width: 300px;
  height: auto;
  margin: 2em auto 2em auto;
}

#about-me .btn-large {
	margin: 1.2em auto 0 auto;
}

.button-container > .btn{
	padding: 0 10px;
	 margin: 3px;
	 box-shadow: none;
}

#computer-stuff h4 {
	margin: 30px 0 15px 0;
}

#computer-stuff .card-title{
	color: #777;
	line-height: 1.5em;
}

#computer-stuff .card-action a{
	color: #33B5E5;
}

.button-container  > .btn-large{
	padding: 0 20px;
	 margin: 10px;
	 box-shadow: none;
}

body{
	background-color: #EFEFEF;
}

.small-text {
	font-size: 0.5em;
}